<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/addquestion" method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required>
      <label for="linkTo">Link</label>
      <input type="text" id="linkTo" name="linkTo" required>
      <label for="topic">Topic</label>
      <select id="topic" name="topic" required>
          <% if(topics.length>0){ topics.forEach(topic=>{ %>
            <option value="<%=topic._id%>"><%=topic.name%></option>
          <%});} %>
      </select>
      <p></p>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>